.momail.ui {
    font: 12px Verdana,Lucida,Helvetica,Arial,sans-serif;
}
.momail.ui + .momail.ui {
    margin-left: 4px;
}
.momail.disabled .momail.ui,
                 .momail.ui.disabled
{
    opacity: 0.5;
    pointer-events: none;
}
.momail.ui.label{
    display: inline-block;
    vertical-align: text-bottom;
}

.momail.button{
    background-image: -webkit-linear-gradient(#f3f3f3, #d8d8d8);
    background-image:     -ms-linear-gradient(top,     #f3f3f3 0%, #d8d8d8 100%);
    background-image:      -o-linear-gradient(#f3f3f3, #d8d8d8);
    background-image:         linear-gradient(#f3f3f3, #d8d8d8);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f3f3f3',GradientType=0 );
    border: 1px solid #C2C2C2;
    border-radius: 0.4em/1em;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height:12px;
    min-width: 16px;
    margin:0;
    vertical-align: text-bottom;
}
.momail.button:hover:not(:active){
    background-image: -webkit-linear-gradient(#fff, #e8e8e8);
    background-image:     -ms-linear-gradient(top,  #fff 0%,#e8e8e8 100%);
    background-image:      -o-linear-gradient(#fff, #e8e8e8);
    background-image:         linear-gradient(#fff, #e8e8e8);
}
.momail.button:hover:active{
    box-shadow: 0 0 1px rgba(0,0,0,0.5) inset;
}
.momail.button.s22x22{
    padding: 2px;
}
.momail.button.s26x26{
    padding: 4px;
}
.momail.button.icon.text{
    padding-right: 4px;
}
.momail.button.icon.text::before{
    margin: 0 2px;
}
.momail.icon[name]::before{
    background-image: url(icons.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    content:"";
    display: inline-block;
    height: 16px;
    vertical-align: text-top;
    width: 16px;
}
.momail.icon[name='mail']::before,
.momail.icon[name='mail-new']::before,
.momail.icon[name='mail-compose']::before {
    background-position: 0 -3px;
}
.momail.icon[name='contact']::before{
    background-position: -171px 0;
}
.momail.icon[name='contact-new']::before,
.momail.icon[name='contact-add']::before{
    background-position: -187px 0;
}
.momail.icon[name='home']::before,
.momail.icon[name='last']::before {
    background-position: -102px -102px;
}
.momail.icon[name='end']::before,
.momail.icon[name='first']::before{
    background-position: -119px -102px;
}
.momail.icon[name='next']::before{
    background-position: -51px -102px;
}
.momail.icon[name='prev']::before{
    background-position: -34px -102px;
}
.momail.icon[name='trash']::before{
    background-position: -52px 0;
}
.momail.icon[name='refresh']::before{
    background-position: -120px -69px;
}
.momail.icon[name='trash_empty']::before{
    background-position: -85px 0;
}
.momail.icon[name='search']::before{
    background-position: -68px -136px;
}

input.momail[type='text']{
    border-radius: 0.4em/1em;
    border: 1px solid #C2C2C2;
    display: inline-block;
    height: 23px;
    vertical-align: text-bottom;
}

/* -------------------------------------------------------------------------- */

.momail.combobox > [name='button'] {
    border:0 none;
    display:inline-block;
    height:16px;
    line-height:16px;
    margin: 0 0 0 5px;
    outline:0 none;
    padding:0;
    vertical-align: middle;

}
.momail.combobox > [name='arrow'] {
    background-image: url(icons.png);
    background-position: 0 -102px;
    background-repeat: no-repeat;
    border-left:1px solid #ccc;
    content:'';
    display:inline-block;
    height: 16px;
    font-size: 0;
    margin: 0 1px 0 0;
    outline:0 none;
    padding:0;
    vertical-align: middle;
    width: 16px;
}
.momail.combobox > [name='arrow']:hover {
    background-color:rgba(0,0,0,0.3);
}
.momail.combobox > [name='arrow']:active {
    background-color:rgba(0,0,0,0);
}
.momail.combobox > .wrapper {
    color:inherit;
    cursor:pointer;
    display:none;
    height: 0;
    margin:0;
    outline:none;
    padding:0;
    position:absolute;
    text-decoration: none;
    z-index: 1;
}
.momail.combobox > [name='arrow']:focus
                 ~ .wrapper,
.momail.combobox > .wrapper:active,
.momail.combobox > .wrapper:focus {
    display: block;
}
.momail.combobox > .wrapper > [name='menu'] {
    background-color:#fff;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.8);
    color:inherit;
    display:inline-block;
    margin: 3px 0 0 0;
    outline:none;
    padding: 0;
    position:relative;
}
.momail.combobox > .wrapper > [name='menu'] > span {
    display:block;
    padding:4px 8px;
    text-align:left;
}
.momail.combobox.s26x26 > [name="menu"] > .wrapper > span {
    padding: 8px 16px;
}
.momail.combobox > .wrapper > [name='menu'] > span.selected,
.momail.combobox > .wrapper > [name='menu'] > span.selected:hover {
    background-color:rgba(0,0,0,0.8);
    color: #fff;
}
.momail.combobox > .wrapper > [name='menu'] > span:hover {
    background-color:rgba(0,0,0,0.3);
}
.momail.combobox > .wrapper > [name='menu'] > span:active {
    background-color:rgba(0,0,0,0.8);
    color:#fff;
}
.momail.combobox > .wrapper > [name='menu'] > span:first-child {
    border-radius: 0 5px 0 0;
}
.momail.combobox > .wrapper > [name='menu'] > span:last-child {
    border-radius: 0 0 5px 5px;
}

.momail.combobox.dropup > .wrapper > [name='menu'] {
    border-radius: 5px 5px 5px 0;
    box-shadow: 0 -1px 3px rgba(0,0,0,0.8);
}
.momail.combobox.dropup > .wrapper > [name='menu'] > span:first-child {
    border-radius: 5px 5px 0 0;
}
.momail.combobox.dropup > .wrapper > [name='menu'] > span:last-child {
    border-radius: 0 0 5px 0;
}

.momail.combobox.drop-left > .wrapper {
}
.momail.combobox.drop-left > [name='arrow']:focus
                           ~ .wrapper,
.momail.combobox.drop-left > .wrapper:active,
.momail.combobox.drop-left > .wrapper:focus {
    display:inline-block;
}
.momail.combobox.drop-left > .wrapper > [name='menu'] {
    border-radius: 5px 0 5px 5px;
    margin-top: 1.5em;
    right: 100%;
}
.momail.combobox.drop-left > .wrapper > [name='menu'] > span:first-child {
    border-radius: 5px 0 0 0;
}
